#card-wrapper {
    display: grid;
    grid-template-columns: 1fr ;
}

.btn {
    border: black solid 5px;
    text-align: center;
    padding: 2rem;
}

@media (min-width:600px) {
    #card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap:3rem;
    }

}